.login100-form-title{
    background-image: url('../../components/ui/img/login.jpg');
}
.limiter {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
  }
  

//parte interna del boton
.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    min-width: 160px;
    height: 50px;
    border: 1px solid #0f110e;
    background-color: #fff;
    color: black !important;
    border-radius: 10px;
  
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background-color: #333333;
    color: white !important;
  }

  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  
    background: #131211;
  }

  .container-login100 {
    width: 100%;  
    min-height: 91vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;

    justify-content: center;
    align-items: center;
    background: #ebeeef;
  }

  .login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
  }
  

  @media(max-width: 576px){
    .container-login100 {
        width: 100%;  
        max-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: -10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: #ebeeef;
      }

    .login100-form-btn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 35px;
        min-width: 160px;
        height: 50px;
        border: 1px solid #0f110e;
        background-color: #fff;
        color: black !important;
        border-radius: 10px;
        font-family: Poppins-Regular;
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
      
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      }

      .login100-form {
        width: 100vw;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 43px 70px 53px 53px;
      }
  }