@media(min-width: 0px){
    ._header_img_mobil{
        display: flex;
        min-width: 100% ;
        min-height: 100% ;
    }
    ._home_header_img{
        display: none  !important;
    }
    ._home_header{
        display: flex;
        height: 88vh !important;
        width: 100vw !important;
        justify-content: center;
        background-color: darken($color:black, $amount: 90);
        
        // background-color: darken($color: grey, $amount: 40);
        img{
            display: flex;
            width:340px !important ;
            height: 570px !important;
            margin-right: -5vw;
            margin-left: -1vw;
            opacity: .6;
        }
    }
  


}
@media (min-width: 1200px){

    ._header_img_mobil{
        display: none  !important;
        max-width: 0px;
        max-height: 0px;
    }
}

