@media(min-width: 0px )and (max-width: 570px){
    ._home_header_img{
        display: none  !important;
    }

    ._home_header{
        display: flex;
        width: 100% ;
        height: 100vh ;
        justify-content: center;
        background-color: darken($color:black, $amount: 90);
        overflow: hidden;
    }
    
    ._header_img_mobil{
        min-width: 99vw !important;
        min-height: 100vh  ;
        opacity: .8;
    }

}
@media (min-width: 577px){
    ._header_img_mobil{
        display: none  !important;
        max-width: 0px;
        max-height: 0px;
    }

    ._home_header{
        display: flex;
        width: 100% ;
        height: 100% ;
        justify-content: center;
        background-color: darken($color:black, $amount: 90);
    }

    ._home_header_img{
        width:100%  ;
        height: 100%;
        opacity: .8;
    }
}

@media (min-width: 1100px){

    ._header_img_mobil{
        display: none  !important;
        max-width: 0px;
        max-height: 0px;
    }
    
    ._home_header{
        display: flex;
        width: 100% ;
        height: 100% ;
        background-color: darken($color:black, $amount: 90);
        overflow: hidden;
    }
    

    ._home_header_img{
        width:100vw  ;
        height: 92vh;
        opacity: .8;
    }
}

