@media(min-width: 0px )and (max-width: 570px){
    ._header_img_mobil{
        display: flex;
        min-width: 105vw ;
        min-height: 100% ;
    }
    ._home_header_img{
        display: none  !important;
    }
    ._home_header{
        display: flex;
        height: 88vh !important;
        width: 100vw !important;
        justify-content: center;
        background-color: darken($color:black, $amount: 90);
        
        // background-color: darken($color: grey, $amount: 40);
        img{
            display: flex;
            width:370px !important ;
            height: 520px !important;
            margin-right: -5vw;
            margin-left: -1vw;
            opacity: .8;
        }
    }
  


}
@media (min-width: 577px){
    ._header_img_mobil{
        display: none  !important;
        max-width: 0px;
        max-height: 0px;
    }

}


@media (min-width: 1100px){

    ._header_img_mobil{
        display: none  !important;
        max-width: 0px;
        max-height: 0px;
    }
}

