


@media (max-width: 576px) {

   

/*          ----------------------                  NavBar        -----------------------------   */
    ._home_nav{
        display: grid !important;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
        justify-items: center;
    }
    .btn-login{
        grid-column: 5;
    }

    ._home_span{
        max-width: 40%;
    }
    ._home_link_1{
        size: 2vh;
        margin-bottom: 5px;
    }
    ._home_span_name{
        font-size: 20px !important;
        max-width: 15vh;
    }
    ._home_login_btn{
        font-size: 30px !important;
        margin-bottom: -10px;
        
    }
    ._auth_house_btn{
        grid-column: 1;
    }

    /* ---------------------dropdown button -------------------- */
    .dropdown-menu {
        background-color: rgba(44, 44, 40, 0.836);
        margin-right: 75px;
    }
    .dropdown-item{
        color: aliceblue;

        &:hover{
            background-color: rgba(0, 0, 0, 0.507);
        color: aliceblue;

        }
    }
    /*                     ----------------         Header      -----------------                       */

    ._home_header{
        display: flex;
        height: 320px ;
        width: 560px ;
        justify-content: center;
        background-color: darken($color:black, $amount: 90);
        
        // background-color: darken($color: grey, $amount: 40);
     /*    img{
            display: flex;
            height: 50vh ;
            width:106vw  ;
            margin-right: -5vw;
            margin-left: -1vw;
            opacity: .6;
        } */
    }

 }
 @media (min-width: 576px) {  }

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {  }
 
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) { }
 
 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1100px) {
    ._home_nav{
        display: grid !important;
        grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
        justify-items: center;
    }
    .btn-login{
        grid-column: 5;
    }

    .dropdown-menu {
        background-color: rgba(44, 44, 40, 0.836);
        margin-right: 75px;
    }
    .dropdown-item{
        color: aliceblue;

        &:hover{
            background-color: rgba(0, 0, 0, 0.507);
        color: aliceblue;

        }
        
    }
    .dropdown-item::focus{
        color: rgba(255, 255, 255, 0.938);

    }


    ._home_header{
        display: flex;
        height: 88vh !important;
        width: 100vw !important;
        justify-content: center;
        background-color: darken($color:black, $amount: 90);
        
        // background-color: darken($color: grey, $amount: 40);
        img{
            display: flex;
            width:106vw !important ;
            height: 88vh !important;
            margin-right: -5vw;
            margin-left: -1vw;
            opacity: .2;
        }
    }
    
    .btn{
        font-size: 2em;
    }
    
  }