// @media (min-width: 1100px){
    ._home_container{
        display: grid;
        grid-template-columns: 3fr 5fr;
        background-color: black;
        min-width: 100vw;
        height: 90vh;
        padding: 30px;
    }
    
    ._home_container_left_img{
        grid-column: 1;
        align-self: center;
        justify-self: center;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
            img{
                animation-name: example;
                animation-duration: 1.2s;
            }
        @keyframes example {
            0%   {height: 0px; width: 0px;padding: auto;left: 0; right: 0;opacity: .1;}
           
            100% {height: 320px; width: 213px;padding: auto; left: auto; right: auto;opacity: 1;}
          }
    }

    ._home_container_hide{
        height: 1vh;
        background-color: black;
    }

// }

@media (max-width: 576px){
    ._home_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10fr;
        background-color: black;
        min-width: 100vw;
        height: 90vh;
    }
    
    ._home_container_left_img{
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
            img{
                animation-name: example;
                animation-duration: 1.2s;
            }
        @keyframes example {
            0%   {height: 0px; width: 0px;left: 0; right: 0;opacity: .1;}
           
            100% {height: 320px; width: 213px; left: auto; right: auto;opacity: 1;}
          }
    }

    ._home_container_hide{
        height: 1vh;
        background-color: black;
    }

}
