@media (max-width: 576px){

    ._home_container{
        display: flex ;
        flex-direction: column;
        text-align: center;
        align-items: center;
        min-height: 1250px;
    }

    ._home_title_h1{
        color: darken($color: white,$amount: 0);
        animation-name: title;
        animation-duration: 3s;
        margin-top: 100px;
        height: 100%;
            @keyframes title {
                0%{opacity: .1;}
                100%{opacity: 1;}
            }
    }
    ._home_title_h3{
        margin-top: 30px;
        color: darken($color: white,$amount: 20);
        animation-name: subTitle;
        animation-duration: 5s;
        @keyframes subTitle {
            0%{opacity: .1;}
            100%{opacity: 1;}
        }
    }
    
    ._home_container_left_img{
        margin-top: 20px;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        height: 100%;
        img{
            height: 100%;
            margin-bottom: 110px;
            box-shadow: 0px 0px 5px 0px white;
            animation-name: example;
            animation-duration: 7s;
            @keyframes example {
                0%   {opacity: .1;}
                // 65%   {-webkit-mask:linear-gradient(.1);opacity: .3; }
                100% {/* height: 320px; width: 213px; */ opacity: 1; }
              }
        }
    }
   
    ._Home_container_right {
        display: grid;
        grid-template-rows: 1fr 2fr;
        margin-top: 50px;
        p{
        margin-top: 30px;
        color: darken($color: white,$amount: 20);
        opacity: 0;
        animation-name: parrafo;
        animation-duration: 5s;
        // animation-delay: .2s ;
        animation-fill-mode: forwards;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        @keyframes parrafo {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
        }
    }
    ._Home_container_right_sub{
        opacity: 0;
        animation-duration: 5s;
        animation-delay: .1s ;
        animation-name: sub;
        animation-fill-mode: forwards;
        @keyframes sub {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
    ._Home_container_right{
        h3{
        color: aliceblue;
        
        }
    }

}
@media (min-width: 577px) {
     ._home_container{
        display: flex ;
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 768px) {
    ._home_container{
        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-template-rows: 2fr 1fr 10fr;
        background-color: black;
        height: 90vh;
    }
    ._home_title_h1{
        grid-column: 1/3;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
    ._home_title_h3{
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: flex-end;
    }
    
    ._home_container_left_img{
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        justify-self: center;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: auto;
            img{
                animation-name: example;
                animation-duration: 3.2s;
            }
        @keyframes example {
            0%   {/* height: 0px; width: 0px;;padding: auto;  */opacity: .1;}
           
            100% {/* height: 320px; width: 213px;padding: auto; */opacity: 1;}
          }
    }

    ._Home_container_right{
        grid-column: 2;
        grid-row: 3;
        display: grid;
        grid-template-rows: 5fr 10fr;
        align-self:center;
        justify-self: center;
        overflow: hidden;
    }
    ._Home_container_right{
    h3{
        align-self: center;
        color: rgb(154, 163, 163);
    }
    }
    ._Home_container_right_sub{
        opacity: 0;
        animation-duration: 4s;
        animation-delay: .5s ;
        animation-name: sub;
        animation-fill-mode: forwards;
        @keyframes sub {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
    }
    ._Home_container_right {
        
        p{
        opacity: 0;
        animation-name: parrafo;
        animation-duration: 3s;
        animation-delay: 1.5s ;
        animation-fill-mode: forwards;
        margin-right: 30px;
        @keyframes parrafo {
            0% {opacity: 0;}
            100% {opacity: 1;}
            }
        }
    }
}

 @media (min-width: 1100px){
    ._home_container{
        display: grid;
        grid-template-columns: 3fr 5fr;
        grid-template-rows: 2fr 1fr 10fr;
        background-color: black;
        height: 90vh;
    }
    ._home_title_h1{
        grid-column: 1/3;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
    ._home_title_h3{
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: flex-end;
    }
    
    ._home_container_left_img{
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        justify-self: center;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: auto;
            img{
                animation-name: example;
                animation-duration: 3.2s;
            }
        @keyframes example {
            0%   {/* height: 0px; width: 0px;;padding: auto;  */opacity: .1;}
           
            100% {/* height: 320px; width: 213px;padding: auto; */opacity: 1;}
          }
    }

    ._Home_container_right{
        grid-column: 2;
        grid-row: 3;
        display: grid;
        grid-template-rows: 5fr 10fr;
        align-self:center;
        justify-self: center;
        overflow: hidden;
    }
    ._Home_container_right{
    h3{
        align-self: center;
        color: rgb(154, 163, 163);
    }
    }
    ._Home_container_right_sub{
        opacity: 0;
        animation-duration: 4s;
        animation-delay: .5s ;
        animation-name: sub;
        animation-fill-mode: forwards;
        
            @keyframes sub {
                0% {opacity: 0;}
                100% {opacity: 1;}
        }
    }
    ._Home_container_right {
        
        p{
        opacity: 0;
        animation-name: parrafo;
        animation-duration: 3s;
        animation-delay: 1.5s ;
        animation-fill-mode: forwards;
        margin-right: 30px;
            @keyframes parrafo {
                0% {opacity: 0;}
                100% {opacity: 1;}
            }
        }
    }

}

