
.home_header{
    display: flex;
    height: 88vh !important;
    width: 100vw !important;
    justify-content: center;
    background-color: darken($color:black, $amount: 90);
    
    // background-color: darken($color: grey, $amount: 40);
    img{
        display: flex;
        width:106vw !important ;
        height: 88vh !important;
        margin-right: -5vw;
        margin-left: -1vw;
        opacity: .2;
    }
}

.btn{
    font-size: 2em;
}
