@media (max-width: 576px) {

        ._home_nav{
            display: grid !important;
            grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
            justify-items: center;
            position: sticky !important;
        }
        .btn-login{
            margin-top: 10px;
            grid-column: 5;
        }
    
        ._home_span{
            max-width: 40%;
        }
        ._home_link_1{
            size: 2vh;
            margin-bottom: 5px;
        }
        ._home_span_name{
            font-size: 20px !important;
            max-width: 15vh;
        }
        ._home_login_btn{
            font-size: 30px !important;
            margin-bottom: -10px;
            
        }
        ._auth_house_btn{
            margin-top: 10px;
            grid-column: 1;
        }
    
        /* ---------------------dropdown button -------------------- */
        .dropdown-menu {
            background-color: rgba(44, 44, 40, 0.836);
            margin-right: 75px;
            &:hover{
                background-color: antiquewhite;
            }
        }
        .dropdown-item{
            color: aliceblue;
        }
            ._nav_btn-home{
            margin-bottom: 10px;
           
        }

    }

    @media (min-width: 1100px) {
        ._nav_btn-home{
            margin-bottom: 10px;
           
        }
        ._home_nav{
            display: grid !important;
            grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
            justify-items: center;
            
        }
        .btn-login{
            grid-column: 5;
            border-radius: 10px;
            padding: 1px;
            &:hover{
                background-color: lighten($color:#343A40,$amount:5 );
            }
        }
    
        .dropdown-menu {
            background-color: rgba(44, 44, 40, 0.836);
            margin-right: 75px;
            
        }
        .dropdown-item{
            color: aliceblue;
    
            &:hover{
                background-color: rgba(0, 0, 0, 0.507);
                
            color: aliceblue;
    
            }
            
        }
        .dropdown-item::focus{
            color: rgba(255, 255, 255, 0.938);
    
        }
        ._auth_house_btn{
            grid-column: 1;
            width: 109px;

            &:hover{
                background-color: lighten($color:#343A40,$amount:5 );
                border-radius: 10px;
            }
        }
        
      }