@media (max-width: 576px) {

        ._home_nav{
            display: grid ;
            grid-template-columns: 1fr 2fr 2fr 2fr 1fr ;
            justify-items: center;
            position: sticky ;
            min-height: 50px;
            max-height: 50px;

        }
        .btn-login{
            margin-top: 10px;
            grid-column: 5;
        }
    
        ._home_span{
            max-width: 40%;
        }
        ._home_link_1{
            size: 2vh;
            margin-bottom: 5px;
        }
        ._home_span_name{
            font-size: 20px !important;
            max-width: 15vh;
        }
        ._home_login_btn{
            font-size: 30px !important;
        }
        ._auth_house_btn{
            display: grid;
            grid-template-rows: 2fr .2fr;
        }
        ._auth_house_btn{
            margin-top: 5px;
            grid-column: 1;
        }
        ._home_btn_span{
            grid-row: 2  !important;
            font-size: 10px;
            margin-top: -12px;
            color: aliceblue;
        }
       ._nav_btn-home{
            max-height: 30px;
            grid-row: 1;
            margin-top: -5px;           
        }
    
        /* ---------------------dropdown button -------------------- */
        .dropdown-menu {
            background-color: rgba(44, 44, 40, 0.836);
            margin-right: 75px;
            &:hover{
                background-color: rgba(0, 0, 0, 0.507);
            }
        }
        .dropdown-item{
            color: aliceblue;
        }
            ._nav_btn-home{
            margin-bottom: 10px;
        }
    }

    @media (min-width: 1100px) {
        ._home_nav{
            max-height: 50px;
            display: grid !important;
            grid-template-columns: 1fr 2fr 2fr 2fr 1fr !important;
            justify-items: center;
        }
        ._nav_btn-home{
            max-height: 30px;
            grid-row: 1;
            margin-bottom: 10px;
            margin-right: 24px;
           
        }
        ._auth_house_btn{
            max-height: 50px;
            display: grid;
            grid-template-rows: 2fr .2fr;
            grid-column: 1;
            width: 109px;

            &:hover{
                background-color: lighten($color:#343A40,$amount:5 );
                border-radius: 10px;
            }
        }
        ._home_btn_span{
            grid-row: 2  !important;
            font-size: 10px;
            margin-top: -12px;
            color: aliceblue;
        }
       
        .btn-login{
            margin-left: 45px;
            width: 100px;
            max-height: 50px;
            grid-column: 5;
            width: 109px;

            border-radius: 10px;
            padding: 1px;
            &:hover{
                background-color: lighten($color:#343A40,$amount:5 );
            }
        }
        .dropdown-toggle{
            font-size: 20px;
        }
        .icon-tabler{
            margin-left: 25px;
            margin-bottom: 12px;
        }
        .dropdown-menu {
            background-color: rgba(44, 44, 40, 0.836);
            margin-right: 75px;
            
        }
        .dropdown-item{
            color: aliceblue;
    
            &:hover{
                background-color: rgba(0, 0, 0, 0.507);
                
            color: aliceblue;
            }
        }
        .dropdown-item::focus{
            color: rgba(255, 255, 255, 0.938);
        }
       
        
      }